/* Global styling */
* {
    box-sizing: border-box;
    padding: 0;
    margin: auto;
}

/* Web page background color */
body {
    background-color: rgba(22, 22, 22);
    width: 100%;
}

/* Header image styling */
h1 {
    display: inline-block;
    font-size: 48px;
    color: #ffffff;
    padding-bottom: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  
}

/* Section heading style */
h2 {
    margin-bottom: 10px;
    font-size: 46px;
    color: #d39d55;
}

/* Additional heading style */
h3 {
    margin-bottom: 20px;
    color:#D2BFA6;
}

/* Button styling */
button a {
    background-color: rgba(35, 35, 35);
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    line-height: 1;
}

/* Adds orange highlight effect to buttons upon mouse hover */
button:hover, #topBtn:hover {
    background-color: #d39d55;
    box-shadow: 0px 15px 20px rgba(229, 156, 46, 0.4);
}

/* Link style */
a {
    color: #ffffff;
    text-decoration: none;
    border: none;
}

/* Paragraph font size */
p {
    font-size: 20px;
    color: white;
}

/* Main image */
.hero-image {
    height: 969px;
    width: 100%;
    margin-bottom: 200px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/images/code.jpg);
    background-size: cover;
    background-position: center;
}

/* Main image text */
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50%);
    color: white;
}

/* Main page fade in effect */
#hero {
    animation: fadeIn ease 1.6s;
    -webkit-animation: fadeIn ease 1.6s;
    -moz-animation: fadeIn ease 1.6s;
    -o-animation: fadeIn ease 1.6s;
    -ms-animation: fadeIn ease 1.6s;
}
  @keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-moz-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-webkit-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-o-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-ms-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
  }
}

/* Styles all main content */
.projects, .about-me, .connect {
    margin-bottom: 200px;
    padding: 50px;
    height: 400px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color:rgba(38, 38, 38);
    color: #ffffff;
}

/* Floats image to the left of the section */
.float-left {
    float: left;
    margin-right: 25px;   
}

/* Image spacing */
.fanpage-img, .change-the-box-img, .horiseon-img {
    margin: 20px;
    float: right;
    height: 300px;
}

.fanpage-img {
    height: 300px;
    width: 400px;
    position: relative;
}

/* Image hover effect */
.fanpage-img:hover, .change-the-box-img:hover, .horiseon-img:hover {
    filter: brightness(50%);
}

/* Styles all elements within the content section */
.content {
    width: 90%;
    margin: 0 auto;
    padding: 10px;
}

/* Keeps images within their respective container */
img {
    max-height: 350px;
    max-width: 400px;
}

/* Connect link styling */
#phone-number, #email, #github, #linkedin, #resume {
    text-decoration: underline;
    color: #60b8ff;
}

/* Home button styling */
#topBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: rgba(35, 35, 35);
    color: white;
    cursor: pointer;
    padding: 15px 32px;
    margin: 10px;
    font-size: 16px;
}

/* Footer styling */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* Copyright/watermark */
footer h2 {
    font-size: 20px;
}